@font-face{
    font-family:'Raleway-ExtraLight.ttf';
    src: url('Raleway-ExtraLight.ttf');
}
body{
    font-family: 'Raleway-ExtraLight.ttf';
    font-size: 0.938em; 
    margin: 0px;
    padding: 0px;
}
.blockpage{
    margin: 1.875em 12.5em 1.875em 12.5em;
    padding: 0px;
}

@media screen and (max-width:600px){
    .blockpage{
        margin: 0px;
        padding: 0px;
    }
}

/*Partie logo et nav*/
.logo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.inscrit{
    margin-left: 2.5em;
}
nav ul{
    display: flex;
}

nav li{
    color: #0065FC;
    list-style-type: none ;
}
nav a{
    text-decoration: none;
    padding: 2.5em;
    color: #0065FC;
}
nav a:hover {
    border-top: 0.313em solid #0065FC;
}
.heber1{
    border-top: 0.313em solid #0065FC;
    color: #0065FC;
}


@media screen and (max-width:600px) {
    .logo{
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .logoreservia{
        order: 0;
    }
    li .inscrit{
        order: 1;
    }
    li .respon1{
        order: 2;
    }
}
.respon1{}


/*Fin Partie logo et nav*/


/*Header*/

.grostitre{
    font-size: 1.2em;
}
/*partie bouton de recherche*/

.boutonRecherche{
    display: inline-flex;
    max-width: 100%;
}

.Iconmap{
    background-color: #F2F2F2;
    padding: 0.9em 1.15em;
    border-radius: 1em 0 0 1em;
    text-align: center;
    justify-content: center;
}
.iconmap{
    margin-left: 0.1em;
    font-size: 16px;
}

.barre{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #F2F2F2;
    border-top:1px solid #F2F2F2;
    height: auto;
    font-weight: bold;

}
.boutonrecherche{
    height: auto;
    padding: 0.688em 0.938em 0.688em 0.938em ;
    border: 0.063em solid #0065FC;
    background-color: #0065FC;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    color: #DEEBFF;
    font-weight: bold;
}


@media screen and (min-width:500px){
    .boutonrecherche i{
        display: none;
    }
}
@media screen and (max-width:501px){
.textrecherche{
    display: none;
}
}

.logoiplustext{
    display: flex;
    align-items: center;
}
.logoi{
    height: 2em;
    width: 2em;
    min-height: 2em;
    min-height: 2em;
    border:solid 1px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;

}
.logo1{
    color: #0065FC;
}
.logoitext{

}




/*fin partie bouton de recherche*/

/*Partie filtre*/
.recherchefiltres {
    display: flex;
    margin-top: 1.875em;
    flex-wrap: wrap;
}
.recherchfiltrenoicone{
    margin: 0 1.875em 0.938em 0;
    display: flex;
    align-items: center;
}
.recherchfiltreicone {
    display: flex;
    align-items: center;
    margin-right: 1.875em;
    border: 0.125em solid #d9d9d9;
    border-radius: 1.875em;
    margin-bottom: 0.938em;
    cursor: pointer;
    transition-duration: 0.2s;
    font-weight: bold;
}

.recherchfiltreicone:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}
.rechercheicone {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    min-height: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px;
    color: #0065FC;
    font-size: 1.25em;
}

.filtretitre{
    margin: 0 0.938em;
}
/*fin partie Filtre*/
/*Fin Header*/

/*2eme partie section Hébergement, populaire*/

/*Partie hébergement*/
.hébergement img{
height: 6.25em;
width: 14.375em;
border-top-right-radius:0.938em ;
border-top-left-radius: 0.938em ;
}

.hébergementglobal{
height: 12.5em;
width: 15em;
border: 0.063em solid #DEEBFF;
border-radius: 1.25em;
padding-left: 0.25em;
padding-top: 0.25em;
box-shadow:0.063em 0.063em 0.063em 0.063em;

}
.hébergementglobal{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

} 
.hébergement a{
    
 



}
.hébergement2{
    justify-self:flex-start;

}












