
body {
    font-family: 'Raleway-VariableFont_wght'; src: url('police p2/Raleway-VariableFont_wght.ttf') ;
    font-size: 15px; 

    margin: 30px 200px 30px 200px;
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.inscrit{
    margin-left: 40px;
}
nav ul{
    display: flex;
}

nav li{
    color: #0065FC;
    list-style-type: none ;
}
nav a{
    text-decoration: none;
    padding: 40px;
}
nav a:hover {
    border-top: 5px solid #0065FC;
}
.heber1{
    border-top: 5px solid #0065FC;
}


.recherche{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.recherche i{
    padding: 11px 14px 11px 14px ;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
    font-size: 17px;
    text-align: center;
}
input{
    text-decoration: none;
    padding: 0px 10px 10px 10px ;
}
.barre{
    padding: 11px 15px 11px 15px ;
    border: 1px solid #F2F2F2;
    font-weight: bold;
}
.bouton{
    height: auto;
    padding: 11px 15px 11px 15px ;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    color: #DEEBFF;
    font-weight: bold;
}


.recherchefiltres {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.recherchfiltrenoicone{
    margin: 0 30px 15px 0;
    display: flex;
    align-items: center;
}
.recherchfiltreicone {
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.recherchfiltreicone:last-child {
    margin-right: 0;
}
.recherchfiltreicone:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
}
.rechercheicone {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    min-height: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    font-size: 20px;
}

.filtretitre{
    margin: 0 15px;
}












